<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="background">
    <!-- 네비게이션 버튼 추가 -->
    <div class="nav-buttons">
        <button class="nav-button" onclick="goBack()">&lt;</button>
        <button class="nav-button" onclick="toggleMenu()">☰</button>
    </div>

    <!-- 메뉴 팝업 -->
    <div id="menuPopup" class="menu-popup">
        <div class="menu-item menu-item-active">
            <div class="menu-icon">
                <img src="/images/ticket.png" alt="티켓 아이콘">
            </div>
            기대값 계산
        </div>
        <div class="menu-item" onclick="navigateTo('/checklist')">
            <div class="menu-icon">
                <img src="/images/good.png" alt="성옥 아이콘">
            </div>
            광산 모음
        </div>
        <div class="menu-item" onclick="navigateTo('/simulator')">
            <div class="menu-icon">
                <img src="/images/dice.png" alt="주사위 아이콘">
            </div>
            가챠 시뮬레이터
        </div>
    </div>
    <div class="container">
        <h2>성옥 및 티켓 입력</h2>
        <div class="input-group">
            <div class="input-label">
                <img src="/images/good.png" alt="성옥"> <span>성옥 수량</span>
            </div>
            <input type="number" id="sungok" value="0">
        </div>
        <div class="input-group">
            <div class="input-label">
                <img src="/images/ticket.png" alt="티켓"> <span>티켓 수량</span>
            </div>
            <input type="number" id="ticket" value="0">
        </div>

        <h2>목표 입력</h2>
        <div id="targets">
            <button onclick="addTarget()">+</button>
        </div>

        <button onclick="submitData()">제출</button>
    </div>
</div>
<script src="/js/myjs.js"></script>
</body>
</html>
