<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="background">
    <!-- 네비게이션 버튼 추가 -->
    <div class="nav-buttons">
        <button class="nav-button" onclick="goBack()">&lt;</button>
        <button class="nav-button" onclick="toggleMenu()">☰</button>
    </div>

    <!-- 메뉴 팝업 -->
    <div id="menuPopup" class="menu-popup">
        <div class="menu-item menu-item-active">
            <div class="menu-icon">
                <img src="/images/ticket.png" alt="티켓 아이콘">
            </div>
            기대값 계산
        </div>
        <div class="menu-item" onclick="navigateTo('/checklist')">
            <div class="menu-icon">
                <img src="/images/good.png" alt="성옥 아이콘">
            </div>
            광산 모음
        </div>
        <div class="menu-item" onclick="navigateTo('/simulator')">
            <div class="menu-icon">
                <img src="/images/dice.png" alt="주사위 아이콘">
            </div>
            가챠 시뮬레이터
        </div>
    </div>
    <div class="container">
        <div th:if="${isLoggedIn}">
            <p>로그인 상태입니다.</p>
            <p>캐릭터 개수: <span th:text="${characterCount}"></span></p>
            <p>캐릭터 최대 보유 여부: <span th:text="${characterIsFull}"></span></p>
            <p>광추 개수: <span th:text="${lightConeCount}"></span></p>
            <p>광추 최대 보유 여부: <span th:text="${lightConeIsFull}"></span></p>
        </div>
        <div th:unless="${isLoggedIn}">
            <p>로그인하지 않은 상태입니다.</p>
            <p>캐릭터 개수: <span>0</span></p>
            <p>캐릭터 최대 보유 여부: <span>false</span></p>
            <p>광추 개수: <span>0</span></p>
            <p>광추 최대 보유 여부: <span>false</span></p>
        </div>
    </div>
</div>
<script src="/js/myjs.js"></script>
</body>
</html>
