<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/home.css">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="counter">
        <span th:if="${isLoggedIn}">
            캐릭 : <span th:text="${character}">캐릭터 개수</span><br>
            광추 : <span th:text="${lightCone}">광추 개수</span>
        </span>
        <span th:if="${!isLoggedIn}" onclick="redirectToGoogle()">
            로그인 필요
        </span>
    </div>

    <div class="card-container">
        <div class="card" onclick="redirectToCalculator()">
            <img th:src="@{/images/ticket.png}" alt="기대값 계산">
            <p>기대값 계산</p>
        </div>
        <div class="card" onclick="redirectToChecklist()">
            <img th:src="@{/images/good.png}" alt="광산 모음">
            <p>광산 모음</p>
        </div>
        <div class="card" onclick="redirectToSimulator()">
            <img th:src="@{/images/dice.png}" alt="가챠 시뮬레이터">
            <p>가챠 시뮬레이터</p>
        </div>
        <span th:if="${isLoggedIn}">
            <div class="card" onclick="showPopup()">
                <img th:src="@{/images/option.png}" alt="개수 설정">
                <p>개수 설정</p>
            </div>
        </span>
        <span th:if="${!isLoggedIn}">
            <div class="card" onclick="redirectToGoogle()">
                <img th:src="@{/images/login.png}" alt="로그인">
                <p>로그인</p>
            </div>
        </span>
    </div>
</div>


<script src="/js/home.js"></script>
</body>
</html>
