<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <meta charset="UTF-8">
    <title>가챠 시뮬레이터</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
</head>
<body>
<div class="background">
    <!-- 네비게이션 버튼 추가 -->
    <div class="nav-buttons">
        <button class="nav-button" onclick="goBack()">&lt;</button>
        <button class="nav-button" onclick="toggleMenu()">☰</button>
    </div>

    <!-- 메뉴 팝업 -->
    <div id="menuPopup" class="menu-popup">
        <div class="menu-item" onclick="navigateTo('/calculator')">
            <div class="menu-icon">
                <img src="/images/ticket.png" alt="티켓 아이콘">
            </div>
            기대값 계산
        </div>
        <div class="menu-item" onclick="navigateTo('/checklist')">
            <div class="menu-icon">
                <img src="/images/good.png" alt="성옥 아이콘">
            </div>
            광산 모음
        </div>
        <div class="menu-item menu-item-active">
            <div class="menu-icon">
                <img src="/images/dice.png" alt="주사위 아이콘">
            </div>
            가챠 시뮬레이터
        </div>
    </div>

    <div class="container">
        <!-- 상단 버튼 영역 -->
        <div class="header-content">
    <span class="left-info">
        <img src="/images/ticket.png" alt="가챠 횟수">
        <span id="stack-count">0</span>
    </span>
            <div class="header-buttons">
                <!-- 로그인 여부에 따라 "내 스택 불러오기" 버튼 표시 -->
                <button class="header-button" th:if="${isLoggedIn}" onclick="loadUserStack_sim()">내 스택 불러오기</button>
                <!-- 항상 표시되는 버튼 -->
                <button class="header-button" onclick="clearStack_sim()">초기화</button>
                <button class="header-button" onclick="showHelp()">도움말</button>
            </div>
        </div>

        <!-- 도움말 팝업 -->
        <div id="helpPopup" class="help-popup">
            <button class="close-help" onclick="closeHelp()">닫기</button>
            <div class="help-popup-content">
                <h3></h3>
                <div id="helpContent">
                    왼쪽 이미지를 눌러 픽업 캐릭터/광추를 선택하세요.<br>
                    캐릭터 5성 확률 : 0.6% (74뽑 부터 6%씩 증가하여 90뽑 시 100%)<br>
                    광추 5성 확률 : 0.6% (66뽑 부터 7%씩 증가하여 80뽑 시 100%)<br>
                    픽뚫 확률 : 캐릭터 44%, 광추 22%<br>
                    5성 획득 시 스택과 함께 기록됩니다.<br>
                    10연차 내에 4성 캐릭터/광추가 무조건 포함됩니다.<br>
                    로그인 시 [내 정보 불러오기] 버튼으로 스택을 불러올 수 있습니다.<br>
                    [초기화] 버튼을 눌러 스택을 초기화할 수 있습니다.<br>
                </div>
            </div>
        </div>

        <!-- 카운터 표시 -->
        <div class="counter-display-container">
            <div class="counter-display" id="counter-display">
                캐릭터 : <span id="characterCount">0</span> (천장 <span id="characterIsFull">X</span>)<br>
                광추 : <span id="lightConeCount">0</span> (천장 <span id="lightConeIsFull">X</span>)
            </div>
        </div>

        <!-- 캐릭터 선택 영역 -->
        <div class="selection-area">
            <button class="toggle-button" onclick="toggleCharacterImage()">
                <img id="character-image" src="/images/character/character_thumbnail.png" alt="캐릭 선택" class="toggle-button-image">
            </button>

            <!-- 팝업 -->
            <div class="popup" id="characterPopup">
                <div class="popup-content">
                    <div th:each="character : ${pickupCharacters}">
                        <img th:src="${character.imagePath}" th:alt="${character.name}"
                             th:onclick="selectCharacter([[${character.imagePath}]])">
                    </div>
                </div>
            </div>

            <div class="grid-container">
                <div class="grid-item-character"></div>
                <div class="grid-item-character"></div>
                <div class="grid-item-character"></div>
                <div class="grid-item-character"></div>
                <div class="grid-item-character"></div>
                <div class="grid-item-character"></div>
                <div class="grid-item-character"></div>
                <div class="grid-item-character"></div>
                <div class="grid-item-character"></div>
                <div class="grid-item-character"></div>
            </div>
            <button class="action-button" onclick="simulateCharacter()">10연차</button>
        </div>
        <div class="gacha-container-character">
            <div class="gacha-item">

            </div>
        </div>
        <!-- 광추 선택 영역 -->
        <div class="selection-area">
            <button class="toggle-button" onclick="toggleLightConeImage()">
                <img id="lightCone-image" src="/images/lightCone/lightCone_thumbnail.png" alt="캐릭 선택" class="toggle-button-image">
            </button>

            <!-- 팝업 -->
            <div class="popup" id="lightConePopup">
                <div class="popup-content">
                    <div th:each="lightCone : ${pickupLightCones}">
                        <img th:src="${lightCone.imagePath}" th:alt="${lightCone.name}"
                             th:onclick="selectLightCone([[${lightCone.imagePath}]])">
                    </div>
                </div>
            </div>

            <div class="grid-container">
                <div class="grid-item-lightCone"></div>
                <div class="grid-item-lightCone"></div>
                <div class="grid-item-lightCone"></div>
                <div class="grid-item-lightCone"></div>
                <div class="grid-item-lightCone"></div>
                <div class="grid-item-lightCone"></div>
                <div class="grid-item-lightCone"></div>
                <div class="grid-item-lightCone"></div>
                <div class="grid-item-lightCone"></div>
                <div class="grid-item-lightCone"></div>
            </div>
            <button class="action-button" onclick="simulateLightCone()">10연차</button>
        </div>
        <div class="gacha-container-lightCone">
            <div class="gacha-item">

            </div>
        </div>
    </div>

</div>

<script src="/js/myjs.js"></script>
</body>
</html>
